*{

    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

.container {
  width: 400px;
  height: 300px;
  background-color: #62374e;
  position: relative;
}

.box2 {
  width: 50px;
  height: 50px;
  background-color: #fdc57b;
  position: absolute;
  top: 50px;
  left: 50px;
}

.box3 {
  width: 50px;
  height:50px;
  background-color: #fdc57b;
  position: absolute;
  top: 200px;
  left:50px;
}
.box4 {
  width: 50px;
  height: 50px;
  background-color: #fdc57b;
  position: absolute;
  top: 50px;
  right: 50px;
}
.box5 {
  width: 50px;
  height: 50px;
  background-color: #fdc57b;
  position: absolute;
  right: 50px;
  top: 200px;
}
