body{box-sizing: border-box;

 margin: 0;
    padding: 0;
    align-items: center;
    justify-self: center;
    display: flex;
    height: 100vh;
}
.container{
width: 400px;
height: 300px;
background-color: #62374e;
position: relative;
top: -50px;

}

.box2{
    width: 50px;
    height: 50px;
    background-color: #fdc57b;
    position: absolute;
top: 90px;
left: 200px;
}

.box3{
    width: 50px;
    height: 50px;
    background-color: #fdc57b;
   position:absolute;
    top: 90px;
    right: 200px
}
.box4{
    width: 50px;
    height: 50px;
    background-color: #fdc57b;
    position:absolute;
    right: 200px;
}
.box5{
    width: 50px;
    height: 50px;
    background-color: #fdc57b;
    position: absolute;
    right:345px;
}

