*{box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
.container{

    width: 400px;
    height: 300px;
    background: #66284A;
    position: relative;

}

.klor{
width:100px;
aspect-ratio: 1/1;
border: 20px solid;
border-radius: 50%;
border-top-color: transparent;
position: absolute;


}
.k1{
 border-color: #F0CD48;
 border-top-color: transparent;
bottom:50%;
left: 50%;
translate: -50% -10px;
rotate: 225deg;
}
.k2{
    border-color:#D669EC;
 border-top-color: transparent;
 top: 50%;
 left: 50%;
 translate: 10px -50% ;
 rotate: -45deg;
}
.k3{
    border-color: #FDFBF8;
    border-top-color: transparent ;
    left: 50%;
    top: 50%;
    translate: -50% 10px;
    rotate: 45deg;
}
.k4{
    border-color: #D86F45;
    border-top-color:transparent;
    top: 50%;
    left: 50%;
     translate:-100px -50% ;
     rotate: -225deg;

}
