*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
header{
    background-color: rgb(190, 54, 54);
    color: white;
    padding: 20px;
}
nav{
    background-color: wheat;
    color: black;
    padding: 20px;
}
.card {
  width: 300px;              
  margin: 20px 0;            
  padding: 20px;             
  border: 2px solid #333;
  border-radius: 12px;       
}
.card[data-type="featured"] {
  background-color: #fff3cd;
  border: 2px solid gold;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
input[type="password"] {
  border: 2px solid #ff9800;
  background-color: #fff3e0;
}
