body {
    margin: 0;
    padding: 50px;
    background: #cfd8dc;
    font-family: Arial, sans-serif;
}

.navbar {
    max-width: 1100px;
    margin: auto;
    padding: 20px 40px;
    background: linear-gradient(to right, #1f1f28, #2b2e3b);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.logo {
    color: white;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 40px;
    list-style: none;
    margin-left: auto;   
}

.menu li {
    color: white;
}

.btn {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background: #00bcd4;
    color: white;
}