
.container {
  padding: 30px;
 background: #191919;
 width: 400px;
 height: 300px;
 position: relative;
 
}

.row {
  display: flex;
  gap: 14px;
  margin-bottom: 14px;
}

.dot {
  width: 40px;
  height: 40px;
  background: #F6E59C;
  border-radius: 50%;
}