*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
height: 100vh;

}
.arrow{
    position: relative;
}

.body{
    width: 80px;
    height: 120px;
    background: green;
    margin: 0 auto;

}
.head{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 120px solid green;

position: relative;
left: 50%;
translate: -50%;
}
