
.container {
    background: #62306D;
    position: relative;
    width: 400px;
    height: 300px;
    
}


.top {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #E6DD77;
    border-radius:50px 50px 0 0;
    top: 50px;
    left: 150px;
}

.left {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #E6DD77;
    border-radius: 0 0 50px 50px;
    bottom: 50px;
    left: 50px;
}


.right {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #E6DD77;
    border-radius: 0 0 50px 50px;
    bottom: 50px;
    right: 50px;
}