*{
    box-sizing: border-box;
    margin: 0;
}


.flag{
  width:400px;
  height:300px;
  background:#3c4c9b; 
  position:relative;
}


.spitak{
  position:absolute;
  background:white;
}

.spitak.vertical{
  width:60px;
  height:100%;
  left:110px;
}

.spitak.horizontal{
  height:60px;
  width:100%;
  top:120px;
}


.karmir{
  position:absolute;
  background:#d72828;
}

.karmir.vertical{
  width:30px;
  height:100%;
  left:125px;
}

.karmir.horizontal{
  height:30px;
  width:100%;
  top:135px;
}