

.container{
  width:400px;
  height:300px;
  background:#083333;
  position:relative;
  overflow:hidden;
}

.shape{
  position:absolute;
  width: 150px;
  height:150px;
  border-radius:120px 0 120px 0;
}


.dark{
  background:#1e4b48;
  left:60px;
  top:70px;
}


.middle{
  background:#9c8436;
  left:110px;
  top:70px;
}


.light{
  background:#eda73a;
  left:160px;
  top:70px;
}