*{ box-sizing: border-box;
margin: 0;
padding: 0;}


.box1{height: 100vh;}

.box2{ position: relative;}

.box1{
    width: 400px;
    height: 300px;
    background-color: #5d3a3a
}
.box2{
width: 200px;
height: 200px;
background-color: #b5e0ba;
}